<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251873935086-ien4cmr4gka4i96i6jq4c8ldkg5281jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251873935086-ien4cmr4gka4i96i6jq4c8ldkg5281jo</string>
	<key>API_KEY</key>
	<string>AIzaSyDr7L9cB2A2-vFYQkAmoHFQdY14htkQDz4</string>
	<key>GCM_SENDER_ID</key>
	<string>251873935086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asco</string>
	<key>PROJECT_ID</key>
	<string>asco-1a937</string>
	<key>STORAGE_BUCKET</key>
	<string>asco-1a937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251873935086:ios:027762c382c165b7d83dff</string>
</dict>
</plist>